body{
padding:0;
margin:0;

			background-image:
				-webkit-linear-gradient(bottom right, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, 0) 150%), 
				-webkit-linear-gradient(
					-45deg,
					rgba(255, 238, 178, .15) 0%,
					rgba(255, 238, 178, 0) 25%,
					rgba(255, 238, 178, .15) 25%,
					rgba(255, 238, 178, 0) 50%,
					rgba(255, 238, 178, .15) 50%,
					rgba(255, 238, 178, 0) 75%,
					rgba(255, 238, 178, .15) 75%,
					rgba(255, 238, 178, 0) 100%
				);
			background-image:
				-moz-linear-gradient(bottom right, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, 0) 150%), 
				-moz-linear-gradient(
					-45deg,
					rgba(255, 238, 178, .15) 0%,
					rgba(255, 238, 178, 0) 25%,
					rgba(255, 238, 178, .15) 25%,
					rgba(255, 238, 178, 0) 50%,
					rgba(255, 238, 178, .15) 50%,
					rgba(255, 238, 178, 0) 75%,
					rgba(255, 238, 178, .15) 75%,
					rgba(255, 238, 178, 0) 100%
				);
			background-image:
				linear-gradient(bottom right, rgba(0, 0, 0, .7) 0, rgba(0, 0, 0, 0) 150%), 
				linear-gradient(
					-45deg,
					rgba(255, 238, 178, .15) 0%,
					rgba(255, 238, 178, 0) 25%,
					rgba(255, 238, 178, .15) 25%,
					rgba(255, 238, 178, 0) 50%,
					rgba(255, 238, 178, .15) 50%,
					rgba(255, 238, 178, 0) 75%,
					rgba(255, 238, 178, .15) 75%,
					rgba(255, 238, 178, 0) 100%
				);
			background-size: 250px 250px, 100% 100%;
			background-color: #26292d;
			min-height: 100%;
		}

}
header{
	text-align:middle;
}
ul {

list-style-type: none;
overflow:hidden;
background-color:black;
 

}
li {
	float:left;
}
li a{
	color:white;
	display:block;
	text-decoration: none;
	padding:16px 60px;
	text-align:center;
	
}
li a:hover{
	background-color:#848484;
}
#content{
	margin-left: 240px;
	margin-right:240px;

	background-color:black;
	
}
